/* GENERAL STYLES */

:root {
  --blue-50: hsl(240, 78%, 98%);
  --gray-650: hsl(233, 13%, 49%);
  --gray-700: hsl(232, 13%, 33%);

  --gradient: linear-gradient(80deg, hsl(237, 73%, 79%), hsl(238, 63%, 64%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: var(--gray-650);
  width: 100%;
  height: 100vh;
  background-color: var(--blue-50);
  background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
  background-attachment: fixed, fixed;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: var(--gray-650);
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: var(--gray-650);
  font-size: 18px;
}

/* CHECKBOX */

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  opacity: 0;
}
.toggle + label {
  position: relative;
  padding-left: 70px;
}

.toggle + label::before {
  content: " ";
  background: var(--gradient);
  position: absolute;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  top: 0;
  left: 0;
}
.toggle + label::after {
  content: " ";
  background-color: white;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 2px;
  left: 32px;
  transition: transform 0.2s ease-in-out;
}

.toggle:checked + label::after {
  transform: translateX(-28px);
}
.checkbox:hover label {
  opacity: 0.8;
  cursor: pointer;
}

/* CARD */

.terms {
  list-style: none;
}
.terms li {
  padding: 20px 0;
  border-bottom: 1px solid var(--gray-650);
}

.card {
  background-color: white;
  padding: 35px;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  max-width: 350px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.card:hover + .card {
  transform: translateX(15px);
}
.card:has(+ .card:hover) {
  transform: translateX(-15px);
}

.accent-card {
  background: var(--gradient);
  color: white;

  & h2,
  .price-box {
    color: white;
  }

  & .terms li {
    border-bottom: 1px solid var(--blue-50);
  }
}

.price-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-700);
  padding: 10px 0;
  border-bottom: 1px solid var(--gray-650);
}

.price-box .currency {
  font-size: 30px;
  padding-right: 5px;
}

.price {
  font-size: 60px;
}

.annual-price {
  display: none;
}

button {
  border: none;
  width: 100%;
  padding: 15px 30px;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: var(--blue-50);
  background: var(--gradient);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  cursor: pointer;
  background: white;
  border: 1px solid hsl(238, 63%, 64%);
  color: hsl(238, 63%, 64%);
}

.accent-card .accent-btn {
  background: white;
  color: var(--gray-650);
  transition: all 0.3s ease-in-out;
}
.accent-card .accent-btn:hover {
  background-color: transparent;
  color: white;
  border: 1px solid var(--blue-50);
}

/* FOOTER */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* QUERIES */

@media (max-width: 800px) {
  body {
    background-image: url(./images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
  }

  main {
    margin: 70px 30px;
  }

  .options {
    flex-direction: column;
    gap: 30px;
    margin: 60px 10px;
  }

  .card:hover,
  .card:hover + .card,
  .card:has(+ .card:hover) {
    transform: none;
  }
}
